html,
body,
#root,
#wrapper {
  height: 100%;
}

html {
  background-color: #000000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2 {
  color: #1dd35f;
  text-shadow: 1px 1px 4px #1dd35f;
  max-width: 1000px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

h1 {
  font-size: 48px;
  -webkit-line-clamp: 1;
}

h2 {
  font-size: 32px;
  margin-bottom: 60px;
  -webkit-line-clamp: 2;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: auto;
  max-height: 300px;
}

#qr-code {
  padding-bottom: 32px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 32px;

  max-width: 400px;
  margin: 0 auto;
}

input {
  color: #1dd35f !important;
}

.MuiInput-underline:before {
  border-bottom: 2px solid #1dd35f !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #1dd35f !important;
}

.MuiSvgIcon-root {
  color: #888888;
}

button {
  color: #000000;
  font-size: 24px;

  margin-top: 48px;
  background-color: #1dd35f;
  padding: 12px 32px;

  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 8px #1dd35f;

  cursor: pointer;
}

label {
  color: #1dd35f !important;
}